<div class="container">
    <div class="jumbotron jumbotron-fluid mt-5">
        <div class="container">
            <h1 class="display-4">About</h1>
            <br>
            <p class="lead">CreativeTube is a Node/Express app with for users to jot down ideas for their future YouTube
                videos.</p>
            <p class="lead">Version: 1.0</p>
            <p class="lead">Author: Khoi Nguyen</p>
        </div>
    </div>
</div>